.navbar-brand {
  font-size: 1.05rem;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #1f2933;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #0d6efd;
}

.navbar-nav .btn {
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }

  .navbar-nav .nav-link {
    padding-left: 0;
  }
}
